.articleCard {
  margin: 1rem;
  min-width: 300px;
  width: 22%;
}

.articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:0;
}

.comments-and-likes {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#sort-and-result-count{
  margin-top: 1rem;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
#result-count{
  margin-left:5%;
}
#sort-selector{
  margin-right:5%;
}

#page-selector{
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;;
}