.comment-details {
  display: flex;
  justify-content: space-between;
}

.comment-card{
    margin-bottom: 3px;
}

.comments {
  padding: 1rem;
}

.load-comment-button {
  margin-left: auto;
  margin-right: auto;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}
#comment-loader {
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;
}
#vote-error {
  margin: 3rem;
}
